In [2]:
# immporting requied liberaries 

import mysql.connector
from mysql.connector import Error 
import pandas as pd

In [3]:
# get connected to the server 

def create_server_connection (host_name,user_name,user_password): 
    connection = None
    try :
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("Mysql connection succesfull ")
    except Error as err : 
        print(f"Error : '{err}'")  
    return connection
sql_pass ="@sql" 

connection = create_server_connection("localhost","root",sql_pass)

Mysql connection succesfull

In [4]:
# creating database "mysql_pyhton"

def create_database(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute (query)
        print("database created succesfully")
    except Error as err : 
        print(f"Error : '{err}'") 
create_database_query = "Create database mysql_python"      

database = create_database(connection, create_database_query)

Error : '1007 (HY000): Can't create database 'mysql_python'; database exists'

In [5]:
# conect to database 

def create_database_connection (host_name,user_name,user_password,database_name): 
    connection = None
    try :
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database= database_name
        )
        print("Mysql connection succesfull ")
    except Error as err : 
        print(f"Error : '{err}'")  
    return connection

In [6]:
# execute sql query 

def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor = cursor.execute(query)
        connection.commit()
        print("Query was succesfull")
    except Error as err : 
        print(f"Error: '{err}'")

In [7]:
create_orders_table="""
CREATE TABLE customers (
  id INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  email VARCHAR(255) UNIQUE,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
"""

connection = create_database_connection("localhost","root",sql_pass,database_name="mysql_python")
execute_query(connection,create_orders_table)

Mysql connection succesfull
Error: '1050 (42S01): Table 'customers' already exists'

In [8]:
# inserting data 

data = """
INSERT INTO customers (name, email)
VALUES ('Jane Doe', 'janedoe@example.com');
"""
connection = create_database_connection("localhost","root",sql_pass,database_name="mysql_python")
execute_query(connection,data)

Mysql connection succesfull
Error: '1062 (23000): Duplicate entry 'janedoe@example.com' for key 'customers.email''

In [9]:
# to display the data 

def read_query(connection,query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result =cursor.fetchall()
        return result
    except Error as err : 
        print(f"Error : '{err}'")

In [10]:
# using select 
q1 = """
SELECT * FROM customers """

connection = create_database_connection("localhost","root",sql_pass,database_name="mysql_python")
results = read_query(connection,q1)

dataframe = pd.DataFrame(results,columns=["s.no","name","email","date and time "])
dataframe

Mysql connection succesfull

    s.no            name                 email      date and time
0      1        Jane Doe   janedoe@example.com 2024-03-30 17:12:28
1      2     Alice Smith     alice@example.com 2024-03-31 08:15:19
2      3     Bob Johnson       bob@example.com 2024-03-31 08:15:20
3      4   Charlie Brown   charlie@example.com 2024-03-31 08:15:22
4      5    David Miller     david@example.com 2024-03-31 08:15:24
5      6    Emily Garcia     emily@example.com 2024-03-31 08:15:25
6      7    Frank Thomas     frank@example.com 2024-03-31 08:15:26
7      8  Grace Williams     grace@example.com 2024-03-31 08:15:28
8      9     Henry Moore     henry@example.com 2024-03-31 08:15:29
9     10  Isabella Young  isabella@example.com 2024-03-31 08:15:30
10    12    Jack Jackson      jack@example.com 2024-03-31 08:15:39