In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
# define server connector 

def server_connector(host_name,user_name,password):
    connection = None
    try :
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = password
        )
        print("server connection successfull")
    except Error as err :
        print(f"Error : '{err}'")    
    return connection    

connection = server_connector("localhost","root","@sql")

server connection successfull

In [ ]:
# creating database

def create_database(connection,query):
    cursor = connection.cursor()
    try : 
        cursor.execute(query)
        print("database created successfully ")
    except Error as err :
        print(f"Error : '{err}'")  
        
database =create_database(connection,"create database if not exists SAMPLE_1")

database created successfully

In [ ]:
# define database connector 

def database_connector(host_name,user_name,password,database_name):
    connection = None
    try: 
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
        passwd = password,
        database = database_name
        )
        print("database connection successfull .")
    except Error as err : 
        print(f"Error : '{err}'") 
    return connection    

connection = database_connector("localhost","root","@sql","SAMPLE_1")

database connection successfull .

In [ ]:
# defining input function 

def input_comands(connection,query):
    cursor = connection.cursor()
    try:
        cursor = cursor.execute(query)
        connection.commit()
        print("query is successfull")
    except Error as err : 
        print(f"Error : '{err}'")

q1 = """CREATE TABLE IF NOT EXISTS DATA (
  ID INT PRIMARY KEY NOT NULL,
  NAME VARCHAR(30) NOT NULL,
  MARKS INT   
);
"""        
            
input_comands(connection,q1)

query is successfull

In [ ]:
data_entry = """
INSERT INTO DATA VALUES (
    101,"PAWAN",99),
    (102,"AYUSH",13),
    (103,"BRISHABH",84)"""
    
input_comands(connection,data_entry)

query is successfull

In [ ]:
#defining output function 

def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()  # Or fetchone() or fetchmany() as needed
    except Exception as err:
        print(f"Error: '{err}'")
        cursor.close()  # Close cursor in case of errors
    finally:
        cursor.close()  # Optional: Close cursor even if no exceptions occur
    return result

q2 = """
SELECT * FROM DATA 
"""     
result = read_query(connection,q2) 
data= pd.DataFrame(result)
data

     0         1   2
0  101     PAWAN  99
1  102     AYUSH  13
2  103  BRISHABH  84